<a href="https://colab.research.google.com/github/doomba32/python/blob/main/%EC%84%9C%EC%9A%B8%EC%8B%9CCCTV%ED%98%84%ED%99%A9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 서울시 구별 CCTV 현황 분석하기

In [52]:
#pandas 모듈을 pd 라는 이름으로 import
import pandas as pd

In [53]:
#Seoul_CCTV.csv 파일로부터 읽은 data를 Seoul_CCTV 변수에 저장
Seoul_CCTV = pd.read_csv('http://doomba32.github.io/python/data/Seoul_CCTV.csv', thousands = ',')

#Seoul_CCTV의 앞쪽 데이터 확인
Seoul_CCTV.head()

    구분    총계  2012년 이전  2012년  2013년  ...  2017년  2018년  2019년  2020년  2021년
0  종로구  1772       813      0      0  ...    261     85      9    200     43
1  중 구  2333        16    114     87  ...    372    386    155    361    289
2  용산구  2383        34     71    234  ...    351    125    307    617      0
3  성동구  3602       448    125    212  ...    874    390    262    461     76
4  광진구  2588        35     57    100  ...    675    465    712    175     32

[5 rows x 13 columns]

In [ ]:
#Seoul_CCTV의 앞쪽 3행(row)의 데이터 확인
Seoul_CCTV.head(3)

    구분     총계 2012년 이전  2012년  2013년  ...  2017년  2018년  2019년  2020년  2021년
0  종로구  1,772      813      0      0  ...    261     85      9    200     43
1  중 구  2,333       16    114     87  ...    372    386    155    361    289
2  용산구  2,383       34     71    234  ...    351    125    307    617      0

[3 rows x 13 columns]

In [ ]:
#Seoul_CCTV의 열(column) 확인
Seoul_CCTV.columns

Index(['구분', '총계', '2012년 이전', '2012년', '2013년', '2014년', '2015년', '2016년',
       '2017년', '2018년', '2019년', '2020년', '2021년'],
      dtype='object')

In [ ]:
#Seoul_CCTV의 열(column) 중 첫번째 값 확인
Seoul_CCTV.columns[0]

'구분'

In [ ]:
#Seoul_CCTV의 첫번째 열의 이름을 '구별'로 변경해봄
Seoul_CCTV.rename(columns={Seoul_CCTV.columns[0] : '구별'}, inplace=True)
Seoul_CCTV.head()

    구별    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204
3  강서구   884        388    258    184     81
4  관악구  1496        846    260    390    613

## 2. CCTV 데이터 파악하기

In [ ]:
#Seoul_CCTV의 정보 출력
Seoul_CCTV.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   구분        25 non-null     object
 1   총계        25 non-null     int64
 2   2012년 이전  25 non-null     int64
 3   2012년     25 non-null     int64
 4   2013년     25 non-null     int64
 5   2014년     25 non-null     int64
 6   2015년     25 non-null     int64
 7   2016년     25 non-null     int64
 8   2017년     25 non-null     int64
 9   2018년     25 non-null     int64
 10  2019년     25 non-null     int64
 11  2020년     25 non-null     int64
 12  2021년     25 non-null     int64
dtypes: int64(12), object(1)
memory usage: 2.7+ KB

In [ ]:
#CCTV 가 가장 적은 5개 구 출력
Seoul_CCTV.sort_values(by='총계', ascending=True).head(5)

     구분     총계 2012년 이전  2012년  2013년  ...  2017년  2018년  2019년  2020년  2021년
9   도봉구  1,629       39     22     96  ...    134    222    198    168    331
0   종로구  1,772      813      0      0  ...    261     85      9    200     43
19  동작구  2,297       41     24     25  ...    271    300    322    419     11
1   중 구  2,333       16    114     87  ...    372    386    155    361    289
17  금천구  2,374        0      0    178  ...    196    540    369   508       9

[5 rows x 13 columns]

In [54]:
#CCTV 가 가장 많은 5개 구 출력
Seoul_CCTV.sort_values(by='총계', ascending=False).head(5)

     구분    총계  2012년 이전  2012년  2013년  ...  2017년  2018년  2019년  2020년  2021년
22  강남구  6502       124     77     75  ...    999    748    789    942      1
20  관악구  4942       428    205    291  ...    687    663    640    331     34
16  구로구  4075       852    216    349  ...    540    488    434    415      0
7   성북구  3958        83     78    170  ...    460    867    714    251    188
11  은평구  3791        14      3     44  ...    403    635   1057    288    131

[5 rows x 13 columns]

In [ ]:
# 최근증가율 = (2021년~2014년)/(2013년~)
Seoul_CCTV['최근증가율'] = (Seoul_CCTV['2021년'] + Seoul_CCTV['2020년'] +  Seoul_CCTV['2019년'] + \
                        Seoul_CCTV['2018년'] + Seoul_CCTV['2017년'] +  Seoul_CCTV['2016년'] + \
                        Seoul_CCTV['2015년'] + Seoul_CCTV['2014년']) / \
                        (Seoul_CCTV['2013년'] + Seoul_CCTV['2012년'] + Seoul_CCTV['2012년 이전'])  * 100

#최근 증가율이 가장 높은 5개 구 출력
Seoul_CCTV.sort_values(by='최근증가율', ascending=False).head(5)

     구분    총계  2012년 이전  2012년  2013년  ...  2018년  2019년  2020년  2021년         최근증가율
8   강북구  2462         0      0     24  ...    392   1000    588     39  10158.333333
11  은평구  3791        14      3     44  ...    635   1057    288    131   6114.754098
19  동작구  2297        41     24     25  ...    300    322    419     11   2452.222222
22  강남구  6502       124     77     75  ...    748    789    942      1   2255.797101
4   광진구  2588        35     57    100  ...    465    712    175     32   1247.916667

[5 rows x 14 columns]